/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Merriweather:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Merriweather', serif; */
}

/* common css style */
.container {
    max-width: 1320;
    width: 82.5%;
    margin: 0 auto;
}

section {
    margin: 100px 0;
}

.section-title {
    color: #070211;
    font-size: 45px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 5px 0 10px;
}

.section-subtitle {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    color: #F00;
    margin-bottom: 8px;
}

.primary-text {
    color: #070211;
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #f00;
    color: #fff;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

/* header section */
.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 180px 0;
    text-align: center;
}

.banner span {
    color: #fff;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.banner h1 {
    color: #fff;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

/* categoris section */
.categories {
    text-align: center;
}

.categories-content h2 {
    color: #f00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}


.categories-content h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

/* section welcome */
.welcome {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
    border-radius: 8px;
}

.welcome-content {
    max-width: 580px;
    margin-left: 40px;
}

.welcome-content h2 {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 24px;
}

.welcome-content p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.welcome-content .join-now {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 25px;

}

/* booking section */
.booking-info {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 0;
    text-align: center;
}

.booking-info h4 {
    color: #070211;
    font-size: 26px;
    font-weight: 500;
    line-height: 42px;
}

.booking-info span {
    color: #f00;
}

.booking-info button {
    margin-top: 25px;
}

/* best offer section */

.best-offer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.best-offer-content .column-left {
    max-width: 380px;
}

.best-offer-content .column-middle {
    width: 380px;
    height: auto;
    /* background-color: yellow; */
    padding: 20px;
    border-radius: 50%;
    border: 20px solid red;
}

.best-offer-content .column-middle img {
    width: 100%;
}

.best-offer-content .column-right h2 {
    color: #F00;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 12px;
}

.best-offer-content .column-right p {
    max-width: 300px;
    margin-bottom: 12px;
}

/* Holidays offer */

.holidays-discount-info {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.discount-images {
    background: url('../images/Rectangle\ 2.png') no-repeat;
    background-position: bottom left;
    background-size: 100% 40%;
    height: 550px;
    max-width: 100%;
    position: relative;
}

.girls-pics {
    width: 320px;
    height: auto;
    position: absolute;
    top: 8px;
    right: 0;
    z-index: -1;
}

.girls-pics img {
    width: 100%;
}

.gift-box-image {
    width: 550px;
    height: auto;
    position: absolute;
    bottom: 85px;
    left: 15px;
}

.gift-box-image img {
    width: 100%;
}

.discount-50 {
    width: 200px;
    height: auto;
    position: absolute;
    right: 230px;
    top: 60px;
    z-index: 1;
}

.discount-50 img {
    width: 100%;
}

/* portfolio section */

.portfolio-content {
    max-width: 560px;
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
    margin-bottom: 24px;

}

.product-container .product-img {
    width: 350px;
    height: auto;

}

.product-container img {
    width: 100%;
    transition: all 1s ease-in-out;
}

.product-container .product-img:hover img {
    transform: scale(1.1);
}


/* newsletter section */
.newsletter {
    background-color: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
    text-align: center;
    margin-bottom: 100px;
}

.newsletter-content {
    max-width: 600px;
    margin: 0 auto;
}

.newsletter-content .email-icon {
    margin-bottom: 38px;
}

.newsletter form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;

}

.newsletter .contact input,
.newsletter .contact button {
    height: 48px;
    border: none;
    font-size: 16px;
    font-family: Inter;
}

.newsletter .contact input {
    flex-grow: 1;
    padding-left: 12px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.newsletter .contact button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #f00;
    font-weight: 500;
    color: #fff;
    padding: 0 14px;
    cursor: pointer;
}

/* footer section */
footer {
    background-color: #070211;
    color: #FFF;
    padding: 80px 0;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-top p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-top-right p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 40px;
}

.footer-social-icon {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 40px 0;
}

.footer-social-icon .social-icon {
    width: 54px;
    height: 54px;
}

.footer-social-icon .social-icon img {
    width: 100%;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.footer-bottom p {
    font-size: 18px;
    font-weight: 400;
}

.hr-line {
    border: 1px solid rgba(255, 255, 255, 0.15);
}